numpy
pandas
scikit-learn
matplotlib
seaborn

torch
torchvision
torchaudio
transformers
datasets
sentencepiece

hf-xet

tqdm
beautifulsoup4
regex
nltk
indonlp
emoji
unidecode

mlflow
python-dotenv

google-api-python-client

fastapi
uvicorn
pydantic
typing

pymongo

wordcloud
streamlit
prometheus-client
starlette-exporter

requests
