numpy
pandas
scikit-learn
matplotlib
seaborn

transformers
datasets
sentencepiece

hf-xet

tqdm
beautifulsoup4
regex
nltk

mlflow
python-dotenv

google-api-python-client

fastapi
uvicorn

wordcloud
streamlit

requests
