numpy
pandas
scikit-learn
matplotlib
seaborn

transformers
datasets

tqdm
beautifulsoup4
regex
nltk

mlflow
python-dotenv

google-api-python-client

fastapi
uvicorn

wordcloud
streamlit

pyspark

requests
